<!-- <app-header [cartArray]="productsArray"></app-header> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-product-listing (productAddedd)="addToCartAtHeader($event)"></app-product-listing> -->
<!-- <ng-container [ngSwitch]='currentPage'>
    <app-product-listing *ngSwitchCase="'listing'"></app-product-listing>
    <app-add-product *ngSwitchCase="'addProduct'"></app-add-product>

</ng-container> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-footer></app-footer>
